:root {
    --background-blue: #2E294E;
    --white: #FFFFFF;
    --background-light-grey: #FFFFFF;
    --bs-success: #5DA271 !important;
    --bs-danger: #D00000 !important;
    --bs-primary: #2F2A50 !important;
}